<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">{{app_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/persona">Persona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tipoidentificacion">Tipo identificación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/estado">Estado</a>
      </li>
    </ul>
  </div>
</nav>
